html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.wrapper {
  background-color: rgb(235, 233, 233);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.header {
  text-align: center;
  &__heading {
    text-align: center;
  }
  &__input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
  }
  &__btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    &:active {
      scale: 0.9;
    }
  }
}
.card__task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin: 5px 0 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  &--name {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
  }
  &--remove {
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
    &:active {
      scale: 0.9;
    }
  }
  &--check {
    margin: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:checked {
      background-color: green;
    }
  }
}

.sort__btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  &:active {
    scale: 0.9;
  }
}
