html,
body {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  background-color: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
}
.card__task {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: rgba(8, 255, 49, 0.226);
  &--name {
    font-weight: 700;
  }
  &--remove {
    color: pink;
  }
  &--check {
  }
}

.done {
  background-color: red;
}
